<div class="bg-cover bg-center flex justify-center items-center h-screen"
  style="background-image: url('assets/images/background-image.jpg');">
  <div class="w-full flex justify-center items-center p-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl flex flex-col md:flex-row items-center space-x-8">
      <div class="flex-shrink-0 md:w-1/2 mb-6 md:mb-0">
        <img src="assets/images/image-login.png" alt="Technology background"
          class="object-cover w-full border border-gray-300 rounded-md">
      </div>
      <div class="md:w-1/2 flex flex-col justify-center">
        <div class="text-center mb-6">
          <img src="assets/images/logo.png" alt="Aptech Logo" class="mx-auto mb-4 mt-0">
          <h2 class="text-xl font-bold mb-2">Password Reset</h2>
        </div>
        <form  (ngSubmit)="onSubmit()">
            <div class="relative mb-6">
                <label for="password"
                      class="block text-sm font-medium text-gray-700">Enter your new password</label>
                <input formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                      id="password"
                      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 sm:text-sm"
                      placeholder="Password" required>
                <span (click)="togglePasswordVisibility()"
                      class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                      style="top: 50%; transform: translateY(-20%);">
                      {{ hidePassword ? '🙈' : '🙉' }}
                </span>
          
          </div>

          <div class="relative mb-6">
                <label for="confirm-password"
                      class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input formControlName="confirmPassword"
                      [type]="hidePasswordConfirm ? 'password' : 'text'" id="confirm-password"
                      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 sm:text-sm"
                      placeholder="Confirm Password" required>
                <span (click)="togglePasswordConfirmVisibility()"
                      class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
                      style="top: 50%; transform: translateY(-20%);">
                      {{ hidePasswordConfirm ? '🙈' : '🙉' }}
                </span>
    
          </div>

          <button type="submit"
            class="w-full mt-14  py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Verify and Proceed</button>
        </form>
      </div>
    </div>
  </div>
</div>
