/* Style for form group container */
.form-group {
    margin-bottom: 5px; /* Adjust the space below each form group */
  }
  
  /* Style for form inputs */
  .form-input {
    padding: 5px; /* Adjust the padding inside the input fields */
    margin-bottom: 5px; /* Adjust the space below each input field */
  }
  