<div class="mx-auto mt-4 p-4 dark:bg-gray-900">
  <!-- Status Counters -->
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mb-4">
      <div
        class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center"
      >
        <!-- Hiển thị tổng số trạng thái 'Studying' -->
        <span class="text-3xl font-bold">{{ statusCounts().studying }}</span>
        <span class="text-gray-600">Studying</span>
      </div>

      <div
        class="bg-yellow-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center"
      >
        <!-- Hiển thị tổng số trạng thái 'Finished' -->
        <span class="text-3xl font-bold">{{ statusCounts().finished }}</span>
        <span class="text-gray-600">Finished</span>
      </div>

      <div
        class="bg-yellow-200 p-6 rounded-md shadow-md flex flex-col items-center justify-center"
      >
        <!-- Hiển thị tổng số trạng thái 'Cancel' -->
        <span class="text-3xl font-bold">{{ statusCounts().cancel }}</span>
        <span class="text-gray-600">Cancel</span>
      </div>

      <div
        class="bg-cyan-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center"
      >
        <!-- Hiển thị tổng số trạng thái 'Scheduled' -->
        <span class="text-3xl font-bold">{{ statusCounts().scheduled }}</span>
        <span class="text-gray-600">Scheduled</span>
      </div>
    </div>
  </div>

  <!-- Semester Counts -->
  <div class="flex justify-between">
    <!-- Buttons -->
    <div class="flex flex-wrap justify-start space-x-2 mb-6 mt-6">
      <div
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <span class="font-bold">{{ semesterCounts().Sem1 }}</span>
        <span class="text-gray-600">-SEM1</span>
      </div>
      <div
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <span class="font-bold">{{ semesterCounts().Sem2 }}</span>
        <span class="text-gray-600">-SEM2</span>
      </div>
      <div
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <span class="font-bold">{{ semesterCounts().Sem3 }}</span>
        <span class="text-gray-600">-SEM3</span>
      </div>
      <div
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <span class="font-bold">{{ semesterCounts().Sem4 }}</span>
        <span class="text-gray-600">-SEM4</span>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex flex-wrap justify-end space-x-2 mb-6 mt-6">
      <button
        [routerLink]="
          currentUserRole === 'ROLE_ADMIN'
            ? '/admin/class/create'
            : '/sro/class/create'
        "
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <i class="fa-solid fa-plus"></i> Add
      </button>
      <button
        (click)="openFilterDialog()"
        class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
      >
        <i class="fa-solid fa-filter"></i> Filter
      </button>
    </div>
  </div>
  <!-- Table -->
  <div class="overflow-x-auto rounded-lg">
    <div class="overflow-x-auto">
      <table
        class="shadow-sm"
        *ngIf="classes().length > 0"
        class="min-w-full bg-white shadow-md overflow-hidden table-auto dark:bg-gray-500 dark:text-gray-50 border"
      >
        <thead
          class="bg-white text-gray-800 border-b-2 dark:bg-gray-900 dark:text-gray-50"
        >
          <tr>
            <th class="py-4">Class Name</th>
            <th class="py-4">Days</th>
            <th class="py-4">Admission Date</th>
            <th class="py-4">Hour</th>
            <th class="py-4">Center</th>
            <th class="py-4">Course</th>
            <th class="py-4">Sem</th>
            <th class="py-4">Status</th>
            <th class="py-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let classItem of paginatedClasses()"
            [routerLink]="[
              currentUserRole === 'ROLE_ADMIN'
                ? '/admin/class/class-detail'
                : '/sro/class/class-detail',
              classItem.id
            ]"
            class="cursor-pointer border-b hover:bg-gray-100 dark:hover:bg-gray-600"
          >
            <td class="py-2 px-4 text-center">{{ classItem.className }}</td>
            <td class="py-2 px-4 text-center">
              {{ getDaysAsNumbers(classItem.days) }}
            </td>
            <td class="py-2 px-4 text-center">
              {{ classItem.createdAt | date : "dd-MM-yyyy" }}
            </td>
            <td class="py-2 px-4 text-center">
              {{
                classItem.startHour.substring(0, 5) +
                  "h" +
                  " - " +
                  classItem.endHour.substring(0, 5) +
                  "h"
              }}
            </td>
            <td class="py-2 px-4 text-center">{{ classItem.center }}</td>
            <td class="py-2 px-4 text-center">
              {{ classItem.course.courseCode }}
            </td>
            <td class="py-2 px-4 text-center">{{ classItem.sem }}</td>

            <td
              class="py-2 px-4 text-center"
              [ngClass]="{
                'text-green-500': classItem.status === 'STUDYING',
                'text-yellow-500': classItem.status === 'FINISHED',
                'text-red-500': classItem.status === 'CANCEL',
                'text-orange-500': classItem.status === 'SCHEDULED'
              }"
            >
              {{ classItem.status }}
            </td>
            <td class="py-2 px-4 text-center">
              <!-- Edit button with tooltip -->
              <button
                [routerLink]="[
                  currentUserRole === 'ROLE_ADMIN'
                    ? '/admin/class/update'
                    : '/sro/class/update',
                  classItem.id
                ]"
                class="text-blue-400 hover:text-blue-600"
                title="Edit Class"
              >
                <i class="fa fa-edit"></i>
              </button>

              <!-- Delete button with tooltip -->
              <button
                class="text-red-400 hover:text-red-600 p-2"
                (click)="deleteClass(classItem.id); $event.stopPropagation()"
                title="Delete Class"
              >
                <i class="fa fa-trash"></i>
              </button>

              <!-- Assign button with tooltip -->
              <button
                [routerLink]="[
                  currentUserRole === 'ROLE_ADMIN'
                    ? '/admin/class/assign'
                    : '/sro/class/assign',
                  classItem.id
                ]"
                class="text-green-400 hover:text-green-600 p-2"
                title="Assign to Class"
              >
                <i class="fas fa-chalkboard-teacher"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- No Classes Available -->
      <div
        *ngIf="classes().length === 0"
        class="text-center text-lg p-4 text-gray-600 dark:text-gray-200 font-bold"
      >
        There are no classes.
      </div>

      <!-- Pagination -->
      <!-- Pagination -->
      <!-- Pagination controls -->
      <!-- Pagination controls -->
      <div
        class="flex items-center justify-between p-4 mt-4 rounded-lg bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700"
      >
        <div class="flex items-center space-x-6 ml-auto">
          <div class="flex items-center space-x-4 mr-3">
            <span class="text-gray-700 dark:text-gray-300"
              >Items per page:</span
            >
            <select
              class="block w-20 p-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm dark:bg-gray-700 dark:text-white"
              [ngModel]="itemsPerPage()"
              (ngModelChange)="onItemsPerPageChange($event)"
            >
              <option *ngFor="let option of [5, 10, 20]" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="text-gray-700 dark:text-gray-300 mr-10 ml-10">
            Page {{ currentPage() }} of {{ totalPages() }}
          </div>

          <div class="flex items-center space-x-4">
            <button
              (click)="goToFirstPage()"
              [disabled]="currentPage() === 1"
              class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed"
            >
              <i class="fas fa-angle-double-left mr-3 ml-3"></i>
            </button>
            <button
              (click)="goToPreviousPage()"
              [disabled]="currentPage() === 1"
              class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed"
            >
              <i class="fa-solid fa-chevron-left mr-3 ml-3"></i>
            </button>

            <button
              (click)="goToNextPage()"
              [disabled]="currentPage() === totalPages()"
              class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed"
            >
              <i class="fa-solid fa-chevron-right mr-3 ml-3"></i>
            </button>

            <button
              (click)="goToLastPage()"
              [disabled]="currentPage() === totalPages()"
              class="btn btn-primary dark:text-gray-200 disabled:opacity-20 disabled:cursor-not-allowed"
            >
              <i class="fas fa-angle-double-right mr-3 ml-3"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
