<div class="bg-cover bg-center flex justify-center items-center h-screen"
  style="background-image: url('assets/images/background-image.jpg')">
  <div class="w-full flex justify-center items-center p-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl flex flex-col md:flex-row items-center space-x-8">
      <div class="flex-shrink-0 md:w-1/2 mb-6 md:mb-0">
        <img src="assets/images/image-login.png" alt="Technology background"
          class="object-cover w-full border border-gray-300 rounded-md" />
      </div>
      <div class="md:w-1/2 flex flex-col justify-center">
        <a routerLink="/auth/login" class="text-left text-sm text-black hover:underline flex items-center mb-4">
          <i class="fa-solid fa-arrow-left mr-2"></i> Back to Login
        </a>
        <div class="text-center mb-6">
          <img src="assets/images/logo.png" alt="Aptech Logo" class="mx-auto mb-4" />
          <!-- Fixed the icon placement -->
          
          <h2 class="text-2xl font-bold mb-2">Forgot Password?</h2>
          <p class="text-gray-600 text-sm">
            No worries, we will send you a reset password link.
          </p>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="relative mb-6">
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <input formControlName="email" type="email" id="email"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 sm:text-sm"
              placeholder="Username@gmail.com" required />
          </div>
          <button type="submit"
            class="w-full py-2 px-4 bg-blue-500 text-white font-bold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Send Reset Link
          </button>
        </form>
      </div>
    </div>
  </div>
</div>