<div
  class="bg-cover bg-center flex justify-center items-center h-screen"
  style="background-image: url('assets/images/background-image.jpg')"
>
  <div class="w-full flex justify-center items-center p-4">
    <div
      class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl flex flex-col md:flex-row items-center space-x-8"
    >
      <div class="flex-shrink-0 md:w-1/2 mb-6 md:mb-0">
        <img
          src="assets/images/image-login.png"
          alt="Technology background"
          class="object-cover w-full border border-gray-300 rounded-md"
        />
      </div>
      <div class="md:w-1/2 flex flex-col justify-center">
        <div class="text-center mb-6">
          <img
            src="assets/images/logo.png"
            alt="Aptech Logo"
            class="mx-auto mb-4"
          />
        </div>
        <form>
          <h2 class="text-2xl font-semibold text-gray-800 text-center mb-6">
            Password Reset
          </h2>
          <p class="text-center text-gray-600 mb-4 text-xs">
            We have sent you a One Time Password on <br />
            <span class="font-bold"></span>
            <a routerLink="/forgot-password" class="text-blue-500 ml-2">Change E-mail address</a>
          </p>
          <div class="flex justify-center space-x-4 mb-6">
            <!-- OTP input fields -->
            <input
              class="border-b-2 border-gray-300 text-center w-12 text-xl focus:outline-none focus:border-blue-500"
              type="text"
              maxlength="1"
            />
            <input
              class="border-b-2 border-gray-300 text-center w-12 text-xl focus:outline-none focus:border-blue-500"
              type="text"
              maxlength="1"
            />
            <input
              class="border-b-2 border-gray-300 text-center w-12 text-xl focus:outline-none focus:border-blue-500"
              type="text"
              maxlength="1"
            />
            <input
              class="border-b-2 border-gray-300 text-center w-12 text-xl focus:outline-none focus:border-blue-500"
              type="text"
              maxlength="1"
            />
          </div>
          <p class="text-center text-gray-600 mb-6">
            Don't receive the OTP?
            <a routerLink="/forgot-password" class="text-blue-500">Resend OTP</a>
          </p>
          <button
            class="w-full bg-blue-500 text-white py-3 rounded-md hover:bg-blue-600"
          >
            Verify and Proceed
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
