<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="p-4  bg-white  ">
  <h2 class="text-xl font-bold ">Update Student</h2>
  <hr>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4 pt-4 pb-4">
    <!-- Roll Number -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Roll Number</label>
      <input formControlName="rollNumber"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('rollNumber')?.invalid && studentForm.get('rollNumber')?.touched"
        class="text-red-500 text-xs mt-1">
        Roll Number is required.
      </div>
    </div>

    <!-- Full Name -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Full Name</label>
      <input formControlName="fullName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('fullName')?.invalid && studentForm.get('fullName')?.touched"
        class="text-red-500 text-xs mt-1">
        Full Name is required and must be at least 2 characters long.
      </div>
    </div>
  </div>

  <!-- Gender -->
  <div>
    <label class="block text-gray-700 text-sm mb-2">Gender</label>
    <div class="flex items-center">
      <label class="inline-flex items-center mr-2">
        <input formControlName="gender" type="radio" value="Male" class="form-radio text-blue-600" />
        <span class="ml-2">Male</span>
      </label>
      <label class="inline-flex items-center mr-2">
        <input formControlName="gender" type="radio" value="Female" class="form-radio text-blue-600" />
        <span class="ml-2">Female</span>
      </label>
      <label class="inline-flex items-center">
        <input formControlName="gender" type="radio" value="Other" class="form-radio text-blue-600" />
        <span class="ml-2">Other</span>
      </label>
    </div>
    <div *ngIf="studentForm.get('gender')?.invalid && studentForm.get('gender')?.touched"
      class="text-red-500 text-xs mt-1">
      Gender is required.
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">

    <!-- <--phone-->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Phone Number</label>
      <input formControlName="phoneNumber"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="tel" />
      <div *ngIf="studentForm.get('phoneNumber')?.invalid && studentForm.get('phoneNumber')?.touched"
        class="text-red-500 text-xs mt-1">
        Phone Number is required.
      </div>
    </div>


    <!-- Date of Birth -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Date of Birth</label>
      <input formControlName="dob"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date" />
      <div *ngIf="studentForm.get('dob')?.invalid && studentForm.get('dob')?.touched" class="text-red-500 text-xs mt-1">
        Date of Birth is required and must be a valid date.
      </div>
    </div>
  </div>

  <!-- Address -->
  <div>
    <label class="block text-gray-700 text-sm mb-2 mt-4">Address</label>
    <input formControlName="address"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" />
    <div *ngIf="studentForm.get('address')?.invalid && studentForm.get('address')?.touched"
      class="text-red-500 text-xs mt-1">
      Address is required.
    </div>
  </div>

  <div class="grid grid-cols-3 md:grid-cols-3 gap-4 pt-4">

    <!-- Class Name -->
    <div class="relative">
      <label class="block text-gray-700 text-sm mb-2">Class Name</label>
      <select formControlName="className"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="" disabled>Select Class</option>
        <option *ngFor="let class of availableClasses" [value]="class.className">
          {{ class.className }}
        </option>
      </select>

      <!-- Icon for the dropdown -->
      <div
        class="absolute inset-y-0 right-0 pr-3 pt-6 top-1/2 transform -translate-y-1/2 flex items-center pointer-events-none">
        <i class="fas fa-chevron-down text-gray-500"></i>
      </div>

      <div *ngIf="studentForm.get('className')?.invalid && studentForm.get('className')?.touched"
        class="text-red-500 text-xs mt-1">
        Class Name is required.
      </div>
    </div>

    <!-- Courses -->
    <div class="relative">
      <!-- Input Field for Course Selection -->
      <label class="block text-gray-700 text-sm mb-2">Course</label>
      <input type="text" [value]="getFormattedCourses()" (click)="toggleDropdown()" formControlName="courses" readonly
        class="form-input border rounded p-2 w-full cursor-pointer" />

      <!-- Dropdown Menu -->
      <div *ngIf="isDropdownOpen" class="absolute z-10 bg-white border border-gray-300 rounded mt-1 w-full shadow-lg">
        <div *ngFor="let course of availableCourses" (click)="onCourseToggle(course)"
          class="flex items-center p-2 hover:bg-gray-200 cursor-pointer">
          <input type="checkbox" [value]="course.courseCode" [checked]="selectedCourses.includes(course.courseCode)"
            class="form-checkbox text-blue-600 mr-2" (click)="onCheckboxClick($event, course)" />
          <span>{{ course.courseCode || 'Unknown Course' }}</span>
        </div>
      </div>
      <!-- Icon for the dropdown -->
      <div class="absolute inset-y-0 right-0 pr-3 pt-6 flex items-center pointer-events-none">
        <i class="fas fa-chevron-down text-gray-500"></i>
      </div>
    </div>
    <!-- Status -->
    <div class="relative">
      <label for="status" class="block text-gray-700 text-sm mb-2">Status</label>
      <div class="relative">
        <select id="status" formControlName="status"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
          <option value="" disabled>Select Status</option>
          <option value="STUDYING">Studying</option>
          <option value="DELAY">Delay</option>
          <option value="DROPPED">Dropped</option>
          <option value="GRADUATED">Graduated</option>
        </select>
        <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
          <i class="fas fa-chevron-down text-gray-500"></i>
        </div>
      </div>
      <div *ngIf="studentForm.get('status')?.invalid && studentForm.get('status')?.touched"
        class="text-red-500 text-xs mt-1">
        Status is required.
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-2 gap-4 pt-4">
    <!-- Parent's Full Name -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Parent's Full Name</label>
      <input formControlName="parentFullName"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" />
      <div *ngIf="studentForm.get('parentFullName')?.invalid && studentForm.get('parentFullName')?.touched"
        class="text-red-500 text-xs mt-1">
        Parent's Full Name is required and must be at least 2 characters long.
      </div>
    </div>
    <!-- Relation to Student -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Relation to Student</label>
      <select formControlName="studentRelation"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="" disabled>Select Relationship</option>
        <option value="Father">Father</option>
        <option value="Mother">Mother</option>
        <option value="Guardian">Guardian</option>
      </select>
      <div *ngIf="studentForm.get('studentRelation')?.invalid && studentForm.get('studentRelation')?.touched"
        class="text-red-500 text-xs mt-1">
        Relation to Student is required.
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4 pt-4">

    <!-- Parent's Phone Number -->
    <div>
      <label class="block text-gray-700 text-sm mb-2">Parent's Phone Number</label>
      <input formControlName="parentPhone"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="tel" />
      <div *ngIf="studentForm.get('parentPhone')?.invalid && studentForm.get('parentPhone')?.touched"
        class="text-red-500 text-xs mt-1">
        Parent's Phone Number is required and must be in a valid format.
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 ">

      <!-- Parent's Gender -->
      <div>
        <label class="block text-gray-700 text-sm mb-2">Parent's Gender</label>
        <div class="flex items-center">
          <label class="inline-flex items-center mr-4">
            <input formControlName="parentGender" type="radio" value="Male" class="form-radio text-blue-600" />
            <span class="ml-2">Male</span>
          </label>
          <label class="inline-flex items-center mr-4">
            <input formControlName="parentGender" type="radio" value="Female" class="form-radio text-blue-600" />
            <span class="ml-2">Female</span>
          </label>
          <label class="inline-flex items-center">
            <input formControlName="parentGender" type="radio" value="Other" class="form-radio text-blue-600" />
            <span class="ml-2">Other</span>
          </label>
        </div>
        <div *ngIf="studentForm.get('parentGender')?.invalid && studentForm.get('parentGender')?.touched"
          class="text-red-500 text-xs mt-1">
          Parent's Gender is required.
        </div>
      </div>
    </div>
  </div>
  <!-- Form Buttons -->
  <div class="flex items-center justify-between pt-5">
    <button type="submit"
      class="bg-blue-500 right-0 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
      Update
    </button>
    <button type="button" (click)="onCancel()"
      class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:shadow-outline">
      Cancel
    </button>

  </div>
</form>