<div class="bg-cover bg-center flex justify-center items-center h-screen"
  style="background-image: url('assets/images/background-image.jpg');">
  <div class="w-full flex justify-center items-center p-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl flex flex-col md:flex-row items-center space-x-8">
      <div class="flex-shrink-0 md:w-1/2 mb-6 md:mb-0">
        <img src="assets/images/image-login.png" alt="Technology background"
          class="object-cover w-full border border-gray-300 rounded-md">
      </div>
      <div class="md:w-1/2 flex flex-col justify-center">
        <div class="text-center mb-6">
          <img src="assets/images/logo.png" alt="Aptech Logo" class="mx-auto mb-4">
          <h2 class="text-xl font-bold mb-2">Password Reset</h2>
          <img src="assets/images/verified.png" alt="Confirm!" class="object-cover w-8 rounded-md mx-auto mb-2">
          <p class="text-gray-600 text-sm">Password Reset has been successful!</p>
        </div>
        <a routerLink="/login"
          class="w-full  py-2 px-4 bg-blue-600 text-center text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Login
        </a>
      </div>
    </div>
  </div>
</div>
