/* src/app/features/add-student/student-add.component.scss */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  justify-content: flex-end;
}

hr {
  margin-bottom: 5px;
}
/* student-form.component.css */
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.form-input {
  border: 1px solid #d1d5db;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #3b82f6;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu .item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu .item:hover {
  background-color: #f3f4f6;
}

select {
  padding-right: 2.5rem; /* Leave space for the icon */
}

.relative .fa-chevron-down {
  pointer-events: none; /* Ensure the icon doesn't block clicks on the dropdown */
}

