

.total-courses {
    font-weight: bold;
    margin-bottom: 10px;
}



.mat-icon {
    font-size: 16px;
}

mat-row:hover {
    background-color: #f0f4f8; /* Màu nền khi hover */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
  }

  