<div class="flex-1 p-6 dark:bg-slate-900">
    <div class="grid grid-cols-4 gap-4 mb-4">
        <div *ngIf="students" class="bg-green-100 p-6 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer"  [routerLink]="(currentUserRole === 'ROLE_ADMIN') ? ['/admin/student/all'] : ['/sro/student/all']">
            <span class="text-3xl font-bold">{{totalStudents}}</span>
            <span class="text-gray-600">STUDENT</span>
        </div>
        <div *ngIf="classes" class="bg-blue-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer" [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/teacher'] : ['/sro/teacher']">
            <span class="text-3xl font-bold">{{totalTeacher}}</span>
            <span class="text-gray-600">TEACHER</span>
        </div>
        <div *ngIf="classes" class="bg-yellow-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer" [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/sro'] : ['/sro']">
            <span class="text-3xl font-bold">{{totalSros}}</span>
            <span class="text-gray-600">SRO</span>
        </div>
        <div *ngIf="classes" class="bg-cyan-100 p-4 rounded-md shadow-md flex flex-col items-center justify-center cursor-pointer" [routerLink]="currentUserRole === 'ROLE_ADMIN' ? ['/admin/class'] : ['/sro/class']">
            <span class="text-3xl font-bold">{{totalClasses}}</span>
            <span class="text-gray-600">CLASS</span>
        </div>
    </div>
</div>
