<div class="p-4 space-y-6">
    <div class="header-container">
        <h1>Edit Student Exam Marks</h1>
        <p class="class-code">{{ selectedClass?.className }}</p>
    </div>
    <!-- Chọn môn học nằm ở đây -->
    <div class="flex justify-between items-center">
        <div class="flex space-x-4">
            <!-- Dropdown chọn kỳ học -->
            <div *ngIf="semesters.length > 0" class="select-container">
                <label for="semesterSelect">Choose Semester:</label>
                <select id="semesterSelect" [(ngModel)]="selectedSemester"
                    (change)="onSemesterChange(selectedSemester)">
                    <option value="" disabled>Choose semester</option>
                    <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
                </select>
            </div>

            <!-- Select Subject -->
            <div *ngIf="selectedSemester && subjects.length > 0" class="select-container">
                <label for="subjectSelect">Choose Subject:</label>
                <select id="subjectSelect" [(ngModel)]="selectedSubject" (change)="onSubjectChange(selectedSubject)">
                    <option value="" disabled>Choose subject</option>
                    <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
                </select>
                
            </div>
        </div>

        <!-- Nút Import và Export căn sang phải -->
        <div *ngIf="showTable && students && students.length > 0" class="flex space-x-4">
            <button
                class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
                (click)="onImport()">
                <i class="fa-solid fa-file-import"></i> Import
            </button>
            <button
                class="bg-white text-gray-700 hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 py-2 px-4 rounded shadow"
                (click)="onExport()">
                <i class="fa-solid fa-file-export"></i> Export
            </button>
        </div>
    </div>

    <!-- Hiển thị bảng khi môn học được chọn -->
    <div *ngIf="showTable && students && students.length > 0" class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Full Name</th>
                    <th>Module</th>
                    <th>Class Name</th>
                    <th *ngIf="!selectedSubject?.toLowerCase()?.includes('project')">Mark LT</th>
                    <!-- Ẩn nếu môn là project -->
                    <th>{{ selectedSubject?.toLowerCase()?.includes('project') ? 'Mark' : 'Mark TH' }}</th>
                    <!-- Hiển thị 'Điểm' nếu môn là project -->
                    <th>Result</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>
                        <img [src]="student.image ? student.image : 'assets/images/avatar-default.webp'" alt="Avatar"
                            class="avatar" />
                    </td>
                    <td>
                        {{ student.listExamScore[0].studentName }} <br>
                        <small>{{ student.listExamScore[0].rollNumber }}</small>
                    </td>
                    <td>{{ selectedSubject }}</td>
                    <td>{{ student.listExamScore[0].className }}</td>
                    <td *ngIf="!selectedSubject?.toLowerCase()?.includes('project')">
                        <!-- Hiển thị cột điểm lý thuyết nếu không phải là môn đồ án -->
                        <input type="number" [(ngModel)]="tempScores[student.listExamScore[0].rollNumber].theoretical"
                            (ngModelChange)="onScoreChange(student, student.listExamScore[0])" min="0" max="20"
                            maxlength="2" (keypress)="onlyNumberKey($event)" class="score-input" />
                        /20
                    </td>
                    <td *ngIf="!selectedSubject?.toLowerCase()?.includes('project')">
                        <!-- Hiển thị cột điểm thực hành nếu không phải là môn đồ án -->
                        <input type="number" [(ngModel)]="tempScores[student.listExamScore[0].rollNumber].practical"
                            (ngModelChange)="onScoreChange(student, student.listExamScore[0])" min="0" max="20"
                            maxlength="2" (keypress)="onlyNumberKey($event)" class="score-input" />
                        /20
                    </td>
                    <td *ngIf="selectedSubject?.toLowerCase()?.includes('project')">
                        <!-- Chỉ hiển thị cột điểm thực hành nếu là môn đồ án -->
                        <input type="number" [(ngModel)]="tempScores[student.listExamScore[0].rollNumber].practical"
                            (ngModelChange)="onScoreChange(student, student.listExamScore[0])" min="0" max="100"
                            maxlength="3" (keypress)="onlyNumberKey($event)" class="score-input" />
                        /100
                    </td>

                    <td [ngClass]="getResultClass(calculateResult(student))">
                        {{ calculateResult(student) }}
                    </td>
                    <td>
                        <button (click)="saveChanges(student, student.listExamScore[0])"
                            [disabled]="!student.hasChanges"
                            [ngClass]="student.hasChanges ? 'bg-blue-500 hover:bg-blue-600' : 'bg-gray-300 cursor-not-allowed'"
                            class="save-button text-white py-2 px-4 rounded">
                            Save
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>